@charset "UTF-8";

.q6_slide {
  padding-top: 80px;
  width: 960px;
  overflow: hidden;
}

.q6_slide p {
  display: inline-block;
  font-size: 200px;
  animation: scroll 10s linear infinite;
  padding-left: 100%;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.q6_wrap {
  display: flex;
  justify-content: center;
}

.q6_box {
  margin-left: 50px;
  width: 300px;
  overflow: hidden;
}

.q6_box img {
  width: 100%;
  transition-duration: 0.5s;
}

.q6_zoom img:hover {
  transform: scale(1.5);
}

.q6_wrap .q6_box:first-child {
  margin-left: 0px;
}

.q6_textslide {
  position: relative;
}

.q6_textcontents {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -100%;
  color: #fff;
  transition-duration: 0.5s;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  word-break: break-all;
}

.q6_textcontents p {
  position: absolute;
  bottom: 0px;
  padding: 20px;
}

.q6_textslide:hover .q6_textcontents {
  bottom: 0;
}

/* q6が終わったら
q7のcssはq7フォルダの中のcssファイルに記述してください */