@charset "UTF-8";

.q7_box {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.q7_textbox {
  font-size: 16px;
  padding: 20px;
  border-radius: 30px;
  display: inline-block;
  position: relative;
  margin-left: 35px;
  width: 550px;
  box-sizing: border-box;
  border: solid 5px #222;
}

.q7_textbox::before, .q7_textbox::after {
  content: "";
  position: absolute;
}

.q7_textbox::before {
  border: solid 20px transparent;
  border-right: solid  20px #222;
  left: -42px;
  top: 60%;
}

.q7_textbox::after {
  border: solid 15px transparent;
  border-right: solid  15px #fff;
  left: -30px;
  top: 63%;
}

.q7_textbox p {
  text-align: left;
  word-break: break-all;
}