@charset "UTF-8";

.q4_align {
  text-align: center;
}

.q4_align .q4_blue {
  display: inline-block;
}

.q4_margin {
  text-align: center;
  display:block;
}

.q4_margin .q4_blue {
  margin: auto;
}

.q4_table {
  display: table;
}

.q4_text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.q4_table .q4_blue {
  display: inline-block;
}

.q4_flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.q4_flex .q4_blue {
  text-align: center;
}

.q4_position-fix {
  position: relative;
}

.q4_position-fix .q4_blue {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}

.q4_position-transform {
  position: relative;
}

.q4_position-transform .q4_blue {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* q4が終わったら
q5のcssはq5フォルダの中のcssファイルに記述してください */