@charset "UTF-8";

.q4_align {
  text-align: center;
}

.q4_inlineblock {
  display: inline-block;
}

.q4_margin {
  display:block;
}

.q4_margin p {
  margin: auto;
}

.q4_table {
  display: table;
}

.q4_text {
  display: table-cell;
  vertical-align: middle;
}

.q4_flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.q4_position {
  position: relative;
}

.q4_position_fix {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.q4_position_transform {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* q4が終わったら
q5のcssはq5フォルダの中のcssファイルに記述してください */