@charset "UTF-8";

.q2_table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  table-layout: fixed;  
}

.q2_tr:nth-child(2n) td {
  background-color: #ecf1f2;
}

.q2_tr:last-child {
  border-top: 2px dashed #000;
}

.q2_th {
  font-size: 18px;
  color: #ffff;
  line-height: 26px;
  padding: 10px;
  border: 1px solid #dedede;
  background-color: #2244aa;
}

.q2_td {
  font-size: 16px;
  line-height: 22px;
  padding: 10px;
  border: 1px solid #dedede;
}





/* q2が終わったら
q3のcssはq3フォルダの中のcssファイルに記述してください */